body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden; }
  body header nav {
    width: 100%;
    height: 70px;
    background-color: black; }
    body header nav #logo {
      width: 140px;
      float: left;
      display: none; }
      body header nav #logo img {
        width: 100%; }
    body header nav #barraMobile i {
      margin: 10px;
      cursor: pointer;
      color: white;
      font-size: 3em;
      float: left; }
    body header nav #checkboxMobile {
      display: none; }
    body header nav #checkboxMobile:checked + ul {
      display: block; }
    body header nav ul {
      box-sizing: border-box;
      display: none;
      position: absolute;
      top: 70px;
      width: 100%;
      border: 2px solid black;
      margin: 0px;
      padding: 0px;
      background-color: rgba(0, 0, 0, 0.9); }
      body header nav ul li {
        z-index: 999;
        box-sizing: border-box;
        text-align: center;
        padding: 25px;
        color: white;
        list-style: none;
        width: 100%;
        font-size: 2.2em;
        border-bottom: 2px solid white;
        cursor: pointer; }
      body header nav ul li:last-child {
        border-bottom: 0px; }
    body header nav #cliente {
      float: right;
      margin-top: 15px;
      margin-right: 5px;
      color: white;
      width: 200px;
      text-align: center;
      cursor: pointer; }
      body header nav #cliente #statusCliente {
        cursor: pointer;
        font-size: 1em; }
        body header nav #cliente #statusCliente span#logado {
          content: ""; }
        body header nav #cliente #statusCliente i {
          font-size: 2em; }
      body header nav #cliente #checkbox {
        display: none; }
        body header nav #cliente #checkbox:checked + #opcoesUsuario {
          display: block; }
      body header nav #cliente #opcoesUsuario {
        margin-top: 22px;
        display: none;
        border: 2px solid black;
        border-top: 0px;
        cursor: default;
        background-color: #43414c; }
        body header nav #cliente #opcoesUsuario a {
          text-decoration: none; }
          body header nav #cliente #opcoesUsuario a .opcao {
            cursor: pointer;
            color: white;
            overflow: hidden;
            width: 200px;
            height: 60px;
            line-height: 60px;
            vertical-align: middle;
            border-bottom: 2px solid black; }
    body header nav #carrinho {
      font-size: 1.5em;
      float: right;
      margin-right: 30px;
      margin-top: 4px;
      color: white;
      width: 100px;
      cursor: pointer;
      text-align: right; }
      body header nav #carrinho #info {
        width: 100%; }
      body header nav #carrinho span {
        font-size: 0.6em; }
      body header nav #carrinho #qtdProdutos {
        font-size: 0.5em; }

@media screen and (min-width: 900px) {
  body header nav ul {
    position: relative;
    top: 0;
    border: 0px;
    margin: 25px 0 0 30px;
    padding: 0px;
    display: inline-block;
    background-color: black;
    width: 40%; }
    body header nav ul li {
      padding: 0px;
      cursor: pointer;
      display: inline-block;
      width: 130px;
      font-size: 1.2em;
      color: white;
      border-right: 2px solid white;
      text-align: center;
      border-bottom: 0px; }
    body header nav ul li:last-child {
      border-right: 0px; }
    body header nav ul li:hover {
      background-color: red; }
  body header nav #cliente {
    width: 300px; }
    body header nav #cliente #statusCliente span#logado:before {
      content: "Logado como "; }
    body header nav #cliente #opcoesUsuario a .opcao {
      width: 300px; }
  body header nav #logo {
    display: block; }
  body header nav #barraMobile i {
    display: none; }
  body header nav #cliente {
    width: 300px; } }

/*# sourceMappingURL=paginaInicial.css.map */
